body {
    font-family: Arial;
    font-size: 14px;
    width: auto;
    height: 1000px;
    margin: 0 auto;
    background-image: url("res/beer-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

label {
    font-weight: bold;
    width: 100px;
    font-size: 14px;
}

.box {
    
    border: #666666 solid 1px;
}
